$greyblue: #587291;
$darkblue: #0e0e52;
$sapphireblue: #156c95;
$turquoiseblue: #2f97c1;
$tiffany: #0abab5;

$black: #000000;
$grey: #eeeeee;
$dark-grey: #bbbbbb;
$white: #ffffff;

@mixin shadowed($color, $opacity) {
    -webkit-box-shadow: 0px 0px 15px 1px rgba($color, $opacity);
    box-shadow: 0px 0px 15px 1px rgba($color, $opacity);
}
