@use "globals/colors.scss" as color;
@use "globals/margins.scss" as margin;
@use "globals/paddings.scss" as padding;

.App {
    background-color: color.$sapphireblue;
    text-align: center;
    min-height: 100vh;
}

section {
    @include padding.padded(vertical, m);
}

h3, h4 {
    @include padding.padded(all, none);
    @include margin.marged(all, none);
}
