@use "globals/colors.scss" as color;
@use "globals/margins.scss" as margin;
@use "globals/paddings.scss" as padding;
@use "globals/alignments.scss" as align;

.container {
    @include align.flexed(center, flex-start);
}

.content {
    @include align.flexed(center, center);
    @include color.shadowed(color.$black, 0.2);

    background-color: color.$sapphireblue;
    flex-direction: column;
    width: 1200px;
}

section {
    @include align.text(center);
    width: 100%;
}

h2,
h3,
h4,
h5 {
    @include padding.padded(all, none);
    @include margin.marged(all, none);
}

.logo {
    width: 60px;
    height: 60px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.mainImageContainer {
    &Desktop {
        max-width: 100%;
        height: calc(100vh - 80px);
    }

    &Mobile {
        max-width: 100%;
        height: calc(100vh - 48px);
    }
}

.mainImage {
    width: 100%;
    position: static;
    height: 100%;
    object-fit: cover;
}

.sectionTitle {
    // max-width: 80%;
    &Desktop {
        width: 80%;
    }
    &Mobile {
        width: 100%;
    }
}

.modalImage {
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
}

.presentesInfo {
    @include padding.padded(all, s);

    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
}

.giftsContainer {
    @include padding.padded(horizontal, l);
    display: flex;

    .imgDesktop {
        max-height: 200px;
        max-width: 200px;
    }

    .imgMobile {
        max-height: 200px;
        max-width: 100%;
    }

    .options {
        @include padding.padded(horizontal, s);
        @include align.flexed(center, center);

        flex-direction: column;
        flex: 1;
        height: auto;
        max-width: 100%;
    }
}

.info {
    @include align.flexed(center, flex-start);
    @include padding.padded(horizontal, l4);

    &Mobile {
        @include align.flexed(center, center);
        flex-direction: column;
    }

    div {
        @include padding.padded(all, s);

        align-self: stretch;
        flex: 1;
    }
}
